<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Wanderlust</title>

  <link rel="stylesheet" href="/css/style.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet">

<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
  rel="stylesheet">

<link href="/css/rating.css" rel="stylesheet"/>
  </head>

<body>

  <%- include("../includes/Navbar") %>

  <!-- ⭐ FLASH MESSAGE HERE -->
  <div class="container mt-3">
    <% if (success && success.length) { %>
      <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    <% } %>

    <% if (error && error.length) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    <% } %>
  </div>

  <!-- ⭐ PAGE CONTENT -->
  <div class="container mt-4">
    <%- body %>
  </div>

  <%- include("../includes/footer.ejs") %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>
  

</body>
</html>